<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="Project1.Properties.Settings.ScoreboardConnectionString" connectionString="Data Source=DESKTOP-I6NRMKT;Initial Catalog=Scoreboard;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ScoreboardEntities" connectionString="metadata=res://*/ScoreboardModel.csdl|res://*/ScoreboardModel.ssdl|res://*/ScoreboardModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I6NRMKT;initial catalog=Scoreboard;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ScoreboardEntities1" connectionString="metadata=res://*/ScoreModel.csdl|res://*/ScoreModel.ssdl|res://*/ScoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I6NRMKT;initial catalog=Scoreboard;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ScoreboardEntities2" connectionString="metadata=res://*/ScoreModel.csdl|res://*/ScoreModel.ssdl|res://*/ScoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I6NRMKT;initial catalog=Scoreboard;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>